<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Prabin Joshi</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
</head>

<body>

  <!-- <div id="loader"></div> -->

  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PrabinJoshi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" id="blogbtn">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <hr>
      </div>
    </nav>
  </section>

  <section id="bloghome">
    <div class="container my-3">
      <h2>Articles:</h2>
      {% for post in allPosts %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{% autoescape off %} {{post.content| truncatechars:200}}{% endautoescape %}</p>
            <div class="my-2">
              <a href="/blog/{{post.slug}}" role="button" class="hire">Read More</a>
            </div>
          </div>
          <div class="col-auto d-none d-lg-block">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>




  <!-- footer section  -->

  <section class="fo" id="footer" style="position: relative;">
    <p class="copyright" id="co">Website by Prabin Joshi | @2022 All Rights Reserved</p>
    </div>
  </section>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- smooth scroll -->

  <script src="{% static 'smoothscroll.js' %}"></script>
  <script>
    var scroll = new SmoothScroll("a[href*=#]");
  </script>

  <script>
    let preloader = document.getElementById("loader");
window.addEventListener("load", function(){
	loader.style.display = "none";
})
  </script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>